<section id="cupsSection" data-player-allegiance= <%= @player.allegiance %> >
  <% @game.cups.sort_by(&:label).each do |cup| %>
    <figure>
      <p><%= cup.label %></p>
      <%= link_to image_tag("cups/#{cup.image}", alt: (@player.quaffed?(cup) ? cup.human_readable_name : 'A cup of unknown identity'), id: cup.kind), game_player_quaff_path(game_slug: @game.slug, player_id: @player.id, params: {cup_id: cup.id}), method: :post, class: "noAnchorUnderlines", id: "#{cup.kind}_anchor" %>
      <% if @player.quaffed?(cup) %>
        <h4><i><%= cup.human_readable_name%></i></h4>
      <% end %>
    </figure>
  <% end %>
</section>
