<h1 style="margin-top: 0">The End</h1>
<% unless @player.arthur? %>
  <p class="center">Arthur drank from the Holy Grail, sealing your fate. Arthur's allegiance is to the forces of <span class="newthought"><%= @game.arthur.allegiance %></span>.</p>
  <p class="center">You <%= @game.arthur.allegiance == @player.allegiance ? 'were victorious' : 'lost' %>!</p>
<% else %>
  <p class="center">You drank from the Holy Grail. Your allegiance is to the forces of <span class="newthought"><%= @game.arthur.allegiance %></span>.</p>
  <p class="center">The <%= @game.arthur.allegiance %> side were victorious.</p>
<% end %>
