<h1>Make new game</h1>

<section>
  <%= form_with model: @game do |f| %>
    <%= label_tag :number_of_players, 'How many players are there?'%>
    <%= f.number_field :number_of_players, min: 3, max: 20 %>
    <%= f.submit "Begin" %>
  <% end %>
</section>

<section>
  <p>If this page is the lobby...
  <label for="mn-monologue" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-monologue" class="margin-toggle"/>
  <span class="marginnote">
    ...here is the margin-note where I would put the monologue
    for people to read while they are waiting.
    <br/><br/>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum purus sit amet mi venenatis, eget convallis magna posuere. Cras urna arcu, rhoncus in elit varius, ullamcorper tincidunt odio. Phasellus in fringilla velit, nec dictum massa. Nunc ut suscipit erat, quis lobortis nulla. Aliquam feugiat lacus at egestas tristique. Etiam quis quam vel quam congue tristique. Vestibulum lobortis elit sit amet mi posuere tempor. Ut imperdiet varius nisl, scelerisque tempus augue porta non. Nullam nec auctor augue, interdum pharetra nibh. Fusce molestie quam tristique tempus gravida. Sed consectetur tortor ac erat convallis varius.
    <br/><br/>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet dolor quis tortor laoreet, vel placerat purus convallis. Aenean accumsan auctor nisl eu varius. Donec sollicitudin tortor luctus, commodo diam non, cursus lectus. In non tortor vestibulum, auctor risus ut, suscipit eros. Nunc efficitur sit amet ex ac condimentum. Sed finibus urna sed dignissim placerat. Nunc dictum magna risus, id tincidunt nisl dignissim nec. Etiam ac hendrerit velit, eu posuere sapien. Donec consequat, velit a rutrum tempus, nibh lacus imperdiet mi, at fermentum augue augue sit amet erat. Vivamus fringilla nec lorem ut tincidunt.
    <br/><br/>
    Ut vitae convallis dolor. Nam pellentesque finibus accumsan. Sed lobortis et lorem pharetra tristique. Quisque vel lobortis libero, quis vestibulum nibh. Etiam at felis nec libero pellentesque porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut congue lobortis ligula a venenatis. Aliquam erat volutpat. Pellentesque vel ultricies nunc, ut tempus erat. Suspendisse rutrum cursus ligula. Praesent pellentesque iaculis lacinia. Maecenas hendrerit ante sit amet augue eleifend, cursus lobortis turpis ornare. Morbi placerat hendrerit turpis, vitae fermentum justo hendrerit sit amet. Nulla convallis dolor turpis, ac faucibus quam maximus sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis finibus dui est, eget egestas dolor egestas in.
    <br/><br/>
    Donec vulputate mauris lacinia quam luctus, quis blandit metus blandit. Vestibulum quis orci ullamcorper, mollis tortor sed, elementum quam. Sed ullamcorper mi ut orci egestas finibus. Aenean scelerisque imperdiet orci, sit amet sodales sem sollicitudin ut. Sed vulputate bibendum purus, id bibendum tortor facilisis vel. Etiam sit amet interdum tellus, non commodo purus. Donec dapibus blandit nisl, in faucibus metus. Integer ac arcu vitae magna suscipit ullamcorper id nec arcu. Sed feugiat lobortis lacinia. Integer fermentum justo quis mollis congue. Fusce in scelerisque justo, accumsan cursus sem. Nulla nec tempor odio, in commodo dolor. Phasellus posuere eros arcu, ac pulvinar nisi hendrerit ut.
    <br/><br/>
    Vestibulum vehicula sit amet nibh eu viverra. In hac habitasse platea dictumst. Nam sit amet placerat velit. Phasellus nisi lacus, volutpat id diam eget, blandit pulvinar risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque in sapien condimentum, posuere tortor id, sodales quam. Nullam elementum, nunc eu euismod tempor, metus lacus sodales augue, ut congue mi purus a mauris. Vestibulum vulputate nibh quis nulla luctus finibus. Nullam eu laoreet ante, nec vestibulum felis.
  </span>
  </p>
</section>
