// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$black: #111;
$white: #fffff8;

figure {
  text-align: center;
  display: inline-block;
  width: 20%;

  img {
    height: 100px;
    max-width: 150px;
    border-radius: 5px;
    border-style: outset;
    background-color: $white;
  }
  
  img:hover {
    border-style: inset;
  }  
}

.fixed-position {
  position: fixed;
  top: 0;
}

.red {
  color: red;
}
