// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$black: #111;
$white: #fffff8;
$tufte-breakpoint: 760px;

// Index (home) path

@media only screen and (min-width: 1160px) {
  span.drop-caps-t {
    font-family: yinit-t, et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 25rem;
    float: left;
    margin-right: 0.2rem;
  }
}

// Show game path

figure {
  text-align: center;
  display: inline-block;
  width: 20%;

  @media only screen and (max-width: $tufte-breakpoint){
    width: 33.3%;
  }

  img {
    height: 100px;
    max-width: 150px;
    border-radius: 5px;
    border-style: solid;
    background-color: $white;

    @keyframes pulsating {
      from {filter: brightness(95%);}
      to {filter: brightness(120%); box-shadow: 0 0 100px 15px #ffffff;}
    }

    &#holy_grail:not(:hover) {
      animation-name: pulsating;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
  }
  
  img:hover {
    opacity: 70%;
  }  
}

textarea {
  width: 100%;
  resize: vertical;
}

body {
  @keyframes fillScreenWhite {
    from {box-shadow: 0 0 80px 10px $white}
    to {box-shadow: 0 0 0px 1000px $white;}
  }

  @keyframes fillScreenBlack {
    from {}
    to {box-shadow: 0 0 0px 1000px $black;}
  }

  &.good {
    img {
      border-color: $black;

      &#merlins_goblet {
        box-shadow: 0 0 80px 10px #fdf4ab;
        /* x offset, y offset, blur size, spread size, color */
      }
      
      &#accursed_chalice {
        box-shadow: 0 0 25px 0px #11111193;
      }
    }
  }

  &.evil {
    border-color: $white;

    img {
      &#merlins_goblet {
        box-shadow: 0 0 100px 0px $white;
        /* x offset, y offset, blur size, spread size, color */
      }

      &#accursed_chalice {
        box-shadow: 0 0 30px 0 red;
      }
    }
  }
}

.showOnHover {
  visibility: hidden;

  &:hover {
    visibility: visible;
    
    .reverseVisibility {
      display: none;
    }
  }

  .reverseVisibility, .alwaysVisible {
    visibility: visible;
  }
}


// New game path

@media only screen and (min-width: 980px) {
  .fixed-position {
    position: fixed;
    top: 0;
    max-height: 90%;
    overflow: auto;
    width: 45%;
  }
}

.red {
  color: red;
}

@media only screen and (min-width: $tufte-breakpoint) {
  span.drop-caps-m {
    // Fall back to Palatino, not et-book, for the straight edge of M.
    font-family: yinit-m, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 5.6rem; // magic number to maximize size and avoid blocking the 4th line. 3.6 is the next available size with good wrapping.
    float: left;
    margin-right: 0.5rem;
  }
}

// Lobby
// Added div marginnotes so I can have paragraphs inside marginnote classes
// (spans cannot contain p's)
// Results in large margin, so reduced to 10%
div.marginnote {
  margin-right: 10%;
  margin-bottom: 3rem;

  @media only screen and (min-width: 980px) {
    width: 30%;
  }

  @media only screen and (max-width: 979px) {
    float: none;
    width: auto;
    margin-top: 3rem;
  }

  @media only screen and (max-width: $tufte-breakpoint) {
    display: auto; // Override tufte.css display: none for mobile
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    text-indent: 1rem;
  }

  p:first-of-type {
    text-indent: 0;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  p:nth-of-type(2) {
    text-indent: 0;
  }
}

div#players {
  p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
