// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$black: #111;
$white: #fffff8;
$tufte-breakpoint: 760px;

// Index (home) path

@media only screen and (min-width: 1160px) {
  span.drop-caps-t {
    font-family: yinit-t, et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 25rem;
    float: left;
    margin-right: 0.2rem;
  }
}

.footnote {
  font-size: 60%;
}

// Show game path

#allegiance, .cupLabel {
  text-transform: capitalize; // Use css to be DRY because this text is inserted by JS or Ruby
}

.cupLabel {
  margin-left: auto;
  margin-right: auto;
}

figure {
  text-align: center;
  display: inline-block;
  min-width: 20%;

  @media only screen and (max-width: $tufte-breakpoint){
    width: 33.3%;
  }

  .cupLabel, img {
    max-width: 200px;
  }

  img {
    border-radius: 5px;
    border-style: solid;
    border-color: $black;
    background-color: $white;
  }
}

textarea {
  width: 100%;
  resize: vertical;
}

body {
  @keyframes fillScreenWhite {
    from {box-shadow: 0 0 80px 10px $white}
    to {box-shadow: 0 0 0px 1000px $white;}
  }

  @keyframes fillScreenBlack {
    from {box-shadow: 0 0 70px 0px #000000;}
    to {box-shadow: 0 0 70px 1000px $black;}
  }

  &.good #holy_grail_quaffed_true {
    @keyframes pulsating {
      from {filter: brightness(100%);}
      to {filter: brightness(125%);}
    }

    img#holy_grail {
      animation-name: pulsating;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
  }

  &.evil #holy_grail_quaffed_true {
    @keyframes glowing {
      from {box-shadow: 0 0 100px 15px #ffffff;}
      to {box-shadow: 0 0 100px 0px #ffffff;}
    }

    img#holy_grail {
      animation-name: glowing;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
  }
}

.showOnHover {
  visibility: hidden;

  &:hover {
    visibility: visible;
    
    .reverseVisibility {
      display: none;
    }
  }

  .reverseVisibility, .alwaysVisible {
    visibility: visible;
  }
}

#leaveGame {
  text-align: right;

  svg {
    g {
      path {
        fill: $black;
      }
    }
  }
}

.evil {
  #leaveGame {
    svg {
      g {
        path {
          fill: $white;
        }
      }
    }
  }
}


// New game path

@media only screen and (min-width: 980px) {
  .fixed-position {
    position: fixed;
    top: 0;
    max-height: 90%;
    overflow: auto;
    width: 45%;
  }
}

.red {
  color: red;
}

@media only screen and (min-width: $tufte-breakpoint) {
  span.drop-caps-m {
    // Fall back to Palatino, not et-book, for the straight edge of M.
    font-family: yinit-m, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 5.6rem; // magic number to maximize size and avoid blocking the 4th line. 3.6 is the next available size with good wrapping.
    float: left;
    margin-right: 0.5rem;
  }
}

.spacious .marginnote {
  margin-right: -80%;
}

.marginnote#draughts {
  background-color: #ffffff;
  color: $black;
  border: 1px;
  border-style: solid;
  height: 300px;
  overflow: auto;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 4px;
}

// Lobby
// Added div marginnotes so I can have paragraphs inside marginnote classes
// (spans cannot contain p's)
// Results in large margin, so reduced to 10%
div.marginnote {
  margin-right: 10%;
  margin-bottom: 3rem;

  @media only screen and (min-width: 980px) {
    width: 30%;
  }

  @media only screen and (max-width: 979px) {
    float: none;
    width: auto;
    margin-top: 3rem;
  }

  @media only screen and (max-width: $tufte-breakpoint) {
    display: auto; // Override tufte.css display: none for mobile
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    text-indent: 1rem;
  }

  p:first-of-type {
    text-indent: 0;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  p:nth-of-type(2) {
    text-indent: 0;
  }
}

div#players {
  p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
